<ng-template #headerSearch>
  <app-molecule-header-search 
    [formGroup]="formSearch" 
    [controlName]="'searchTerm'"
    [title]="'Catbreeds'"
    [placeholder]="'Buscar por raza...'">
  </app-molecule-header-search>
</ng-template>

<form [formGroup]="formSearch">
  <ion-header [translucent]="true">
    <ng-container *ngTemplateOutlet="headerSearch"></ng-container>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ng-container *ngTemplateOutlet="headerSearch"></ng-container>
    </ion-header>

    <div class="ion-padding ion-text-end">
      <ion-button fill="clear" (click)="isExpandedView = !isExpandedView">
        <ion-icon [name]="isExpandedView ? 'expand-outline' : 'contract-outline'" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <ion-text color="danger" *ngIf="error" class="ion-text-center ion-padding">
      <p>{{ error }}</p>
    </ion-text>

    <app-atom-loading 
      *ngIf="loading" 
      message="Cargando razas de gatos...">
    </app-atom-loading>

    <ion-grid *ngIf="!loading && !error">
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let breed of breeds">
          <app-molecule-card-cat
            [isExpanded]="isExpandedView"
            [breed]="breed"
            (cardClick)="goToDetail($event)"
            (cardImageClick)="openImage($event)">
          </app-molecule-card-cat>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!loading && !error && !breeds.length" class="ion-padding ion-text-center">
      <p>No se encontraron razas que coincidan con tu búsqueda.</p>
    </div>
  </ion-content>
</form>

<app-molecule-image-modal
  #imageModal
  [title]="breed?.name || ''"
  [imageUrl]="image || 'assets/cat.svg'"
  [imageAlt]="'Imagen de ' + breed?.name">
</app-molecule-image-modal>