<ng-template #headerDetail>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="breed">{{ breed.name }}</ion-title>
    <ion-title *ngIf="!breed && !error">Cargando...</ion-title>
  </ion-toolbar>
  <div class="detail__header-image" 
    *ngIf="breed && !loading">
    <ion-img [src]="image || 'assets/cat.svg'"
      [alt]="'Imagen de ' + breed.name"
      class="detail__image"
      (click)="openImageModal()">
    </ion-img>
    <app-atom-expand-button (expand)="openImageModal()"></app-atom-expand-button>
  </div>
</ng-template>

<ion-header [translucent]="true">
  <ng-container *ngTemplateOutlet="headerDetail"></ng-container>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ng-container *ngTemplateOutlet="headerDetail"></ng-container>
  </ion-header>
  
  <ion-text color="danger" *ngIf="error" class="ion-text-center ion-padding">
    <p>{{ error }}</p>
  </ion-text>

  <app-atom-loading 
    *ngIf="loading" 
    message="Cargando detalles...">
  </app-atom-loading>

  <div *ngIf="breed && !loading" class="detail">
    <div class="detail__content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Descripción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ breed.description }}</p>
        </ion-card-content>
      </ion-card>

      <app-molecule-breed-characteristics
        [title]="'Características'"
        [characteristics]="breedCharacteristics">
      </app-molecule-breed-characteristics>
    </div>
  </div>

</ion-content>

<app-molecule-image-modal
  #imageModal
  [title]="breed?.name || ''"
  [imageUrl]="image || 'assets/cat.svg'"
  [imageAlt]="'Imagen de ' + breed?.name">
</app-molecule-image-modal>