<ion-modal 
  #modal 
  [isOpen]="isModalOpen" 
  (willDismiss)="dismiss()">
  <ng-template>
    <ion-content class="molecule-modal__content" [attr.aria-hidden]="!isModalOpen">
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="molecule-modal__image-container">
        <ion-img [src]="imageUrl" 
                 [alt]="imageAlt"
                 class="molecule-modal__image"></ion-img>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>